<h1>Editing product</h1>

<%= render 'form', item: @item %>

<div><%= link_to 'Mostrar', @item, :class => 'ui button blue' %></div>
<div><%= link_to 'Volver', items_path, :class => 'ui button grey' %></div>
